<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="535df205-a1a8-4bcd-8673-e68e77c7484f" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.test-insurance.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="535df205-a1a8-4bcd-8673-e68e77c7484ffileName">https%3A%2F%2Fwww.test-insurance.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://www.test-insurance.com</con:endpoint></con:endpoints></con:interface>